# Python caches
__pycache__/
*venv/
.env

# Jupyter and VS Code
.vscode/
*.ipynb_checkpoints/

# Hide the Translation Architecture (The Facade)
mapping.py

# Data
data/

# Model Weights
models/*.pkl
*.pt

# Plots and Outputs
*.png